#colors-container {
  padding-block: 0.75rem 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  justify-items: center;
  
  
  & .border-cicle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--shape-button);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    margin-block: 0.25rem;

    &:hover {
      background-color: var(--input-stroke);
    }
    
    
    & input {
      border-radius: 50%;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: var(--transparent);
      cursor: pointer;
      position: absolute;
      border: none;
      margin: 0;
      align-items: center;

      &:focus {
       outline: 2px solid #3996DB; 
       outline-offset: .1px; 
      } 
    }
  
    & #blue-cicle {
      
      background-color: var(--brand-light);
      
    }

    & #navy-cicle {
      background-color: var(--navy);
    }

    & #purple-cicle {
      background-color: var(--purple);
    }

    & #fuschia-cicle {
      background-color: var(--fuschia);
    }

    & #pink-cicle {
      background-color: var(--pink);
    }

    & #danger-cicle {
      background-color: var(--danger);
    }

    & #orange-cicle {
      background-color: var(--orange);
    }

    & #yellow-cicle {
      background-color: var(--yellow);
    }

    & #lime-cicle {
      background-color: var(--lime);
    }

    & #green-cicle {
      background-color: var(--green);
    }

    & #cyan-cicle {
      background-color: var(--cyan);
    }

    & .cicle {
      border-radius: 50%;
      width: 1.75rem;
      height: 1.75rem;
      position: absolute;
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  #colors-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

#event-theme-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2vw;
  margin-block: 1rem 0rem;
  width: 100%;
  place-content: space-between;

  & .card-theme {
    width: 8.375rem;
    height: 6.4375rem;
    background-color: var(--shape-button);
    border: 1px solid var(--input-stroke);
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    

    &:hover {
      background-color: var(--input-stroke);
    }

    & input {
      margin: 0;
      margin-top: 1px;
      border: none;
      background-color: var(--transparent);
      z-index: 1;
      width: calc(8.375rem - 4px);
      height: calc(6.4375rem - 4px);
      border-radius: 0.4rem;
      position: absolute;
      cursor: pointer;

      &:focus {
        outline-width: 2px;
      }
    }

    & img {
      filter: none;
      width: calc(8.375rem - 8px);
      height: 66%;
      position: absolute;
      margin: 0;
      object-fit: cover;
      border-radius: 0.3rem;
      margin-top: 2.5px;
    }

    & label {
      position: absolute;
      top: 74%; 
    }
  }
}


#style-upload-container {
  display: flex;
  gap: 6vw;

  & fieldset {
    margin: 0;
    & #toggle-container {
      width: 100%;
      height: 3rem;
      margin-top: 0.5rem;
      /* border: 1px solid red; */
      display: flex;
      align-items: center;

      & #toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

      

        & #toggle-box {
        
          width: 4rem;
          height: 2rem;
          border: 1px solid var(--input-stroke);
          border-radius: 34px;
          display: flex;
          align-items: center;
          margin: auto auto 0rem 0rem;
        
          & #toggle-button {
            background-color: var(--input-stroke);
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            margin-inline: 0.18rem;
            position: absolute;
          }

          & input {
            all: unset;
            /* border: 1px solid rgb(17, 0, 255); */
            width: 100%;
            height: 100%;
            z-index: 1;

            &:hover {
              cursor: pointer;
            }

          }
        }
      } 

      & span {
        margin-inline: 0.75rem 3rem;
        font: var(--body-sm);
        color: var(--text-heading);
      }
    }
  }

  #upload-container {
    width: 100%;
    height: 3rem;
    margin-top: 0.5rem;
    /* border: 1px solid rgb(17, 0, 255); */
    display: flex;
    align-items: center;
    gap: 1rem;
  

    & #upload-button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 8rem;
      height: 2.5rem;
      /* border: 1px solid red; */
      border-radius: 6px;
      background-color: var(--shape-button);

      

      & input {
        margin: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        border: none;
        border: 1px solid red;
        background-color: var(--shape-button);
        display: none;
        z-index: 1;

        &:hover {
          cursor: pointer;
        }
      }

      & img {
        width: 1rem;
        height: 1rem;
        /* margin-inline: 0.5rem; */
      }

      & label {
        font: var(--body-sm-semibold);
        color: var(--text-heading);
        /* width: 100%; */
        /* height: 100%; */

        &:hover {
          cursor: pointer;
        }
      }

    }

    & span {
      font: var(--body-md);
      color: var(--input-placeholder)
    }
  }
}

@media (max-width: 900px) {

  #style-upload-container {
    display: grid;
    gap: 0rem;
  }

  #toggle-container {
    margin-bottom: 0.5rem;
  }
}