#info {

  & #input-required {
    & input {
      margin-bottom: 0.5rem;
      &:invalid {
        border: 1px solid var(--danger);
      } 
    }
    & input:valid + div {
      display: none;
    }
  }

  & .error {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    & img {
      width: 1rem;
      height: 1rem;
      filter: brightness(0) saturate(100%) invert(57%) sepia(88%) saturate(3727%) hue-rotate(330deg) brightness(116%) contrast(100%);
    }

    & span {
      font: var(--body-sm);
      color: var(--danger);
    }
  }
}